<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ogcapi-edr10-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut"  value=""/>
  <parameter name="ics"  value=""/>
  <parameter name="apiDefinition"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.ogcapiedr10.TestRunListener" />
    <listener class-name="org.opengis.cite.ogcapiedr10.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.ogcapiedr10.TestFailureListener" />
  </listeners>

  <test name="Preconditions">
    <classes>
      <class name="org.opengis.cite.ogcapiedr10.SuitePreconditions" />
    </classes>
  </test>

  <test name="Core">
    <packages>
      <package name="org.opengis.cite.ogcapiedr10.landingpage" />
      <package name="org.opengis.cite.ogcapiedr10.conformance" />
      <package name="org.opengis.cite.ogcapiedr10.corecollections" />   
    </packages>
  </test>
  
  <test name="Collections">
    <packages>
      <package name="org.opengis.cite.ogcapiedr10.collections" />
      <package name="org.opengis.cite.ogcapiedr10.queries" />       
    </packages>
  </test>
  
  <test name="JSON">
    <packages>
      <package name="org.opengis.cite.ogcapiedr10.encodings.json" />      
    </packages>
  </test>  
  
  <test name="GeoJSON">
    <packages>
      <package name="org.opengis.cite.ogcapiedr10.encodings.geojson" />      
    </packages>
  </test>  
  
  <test name="EDRGeoJSON">
    <packages>
      <package name="org.opengis.cite.ogcapiedr10.encodings.edrgeojson" />      
    </packages>
  </test>  

  <!-- Add test sets for other conformance classes/levels -->
</suite>
