<?xml version="1.0" encoding="UTF-8"?>
<!-- Unpack the *-ctl-scripts.zip archive in the TE_BASE/scripts directory -->
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Sensor Model Language (SensorML)</name>
    <version>
      <name>2.0</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/sensorml20</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-sensorml20-0.10-SNAPSHOT</local-name>
        <title>OGC SensorML 2.0 Validator</title>
        <description>Validates the structure and content of standard SnesorML 2.0 documents.</description>
        <BasicConformanceClasses>
		       <conformanceClass>Conformance Level 1</conformanceClass>
		    </BasicConformanceClasses>
      </suite>
      <revision>
        <name>0.10-SNAPSHOT</name>
        <status>Beta</status>
        <sources>
          <source>sensorml20/2.0/ctl</source>
        </sources>
        <webdir>sensorml20/2.0/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
